apiVersion: v1
kind: Secret
metadata:
  name: ovh-credentials-oauth2
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "endpoint": "ovh-eu",
      "client_id": "YOUR_CLIENT_ID",
      "client_secret": "YOUR_CLIENT_SECRET"
    }
