apiVersion: v1
kind: Secret
metadata:
  name: ovh-credentials
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "endpoint": "ovh-eu",
      "application_key": "YOUR_APPLICATION_KEY",
      "application_secret": "YOUR_APPLICATION_SECRET",
      "consumer_key": "YOUR_CONSUMER_KEY"
    }
